version: '3.8'
services:
  db:
    image: postgres:14
    container_name: albaraka-db
    restart: always
    environment:
      POSTGRES_DB: albaraka
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: albaraka-keycloak
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: true
    ports:
      - "8180:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./keycloak-imports:/opt/keycloak/data/import
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080; echo -e 'GET /health/ready HTTP/1.1\r\nHost: localhost\r\nConnection: close\r\n\r\n' >&3; grep -q '200 OK' <&3 && exit 0 || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 15
      start_period: 60s
    networks:
      - app-network

  backend:
    build: .
    container_name: albaraka-backend
    restart: always
    env_file:
      - .env
    depends_on:
      db:
        condition: service_started
      keycloak:
        condition: service_healthy
    environment:
      DB_URL: jdbc:postgresql://db:5432/albaraka
      DB_USER: postgres
      DB_PASSWORD: postgres
      JWT_SECRET: 760dd8a6f14d3ff63f266801fb40e74b69ee5bb53eae088b9c9a229620764eb3
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:8180/realms/albaraka
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/albaraka/protocol/openid-connect/certs
    ports:
      - "8080:8080"
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: albaraka-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@albaraka.com
      PGADMIN_DEFAULT_PASSWORD: adminpass
    ports:
      - "8081:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
    networks:
      - app-network

volumes:
  pgdata:
  keycloak_data:
  pgadmin_data:

networks:
  app-network:
    driver: bridge